<!DOCTYPE html>
<head>
  <title><%= h(page_title) %></title>
  <%= stylesheet_link_tag "/stylesheets/theme/style", :media => 'all' %>
  <%= stylesheet_link_tag "/stylesheets/theme/rounded-corners", :media => 'all' %>
  <%= page_header %>
  <script type="text/javascript">var switchTo5x=false;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher:'f6a0b5cc-f7c5-46a1-b5fb-cf296d4d060f'});</script>
</head>
<body>
  <div id='container'>
    <div id='logo'>
    <% if controller.controller_name == 'articles' and controller.action_name.include? 'index' %>
      <h1 class='blogtitle'><%= link_to(this_blog.blog_name, this_blog.base_url) %></h1>
    <% else %>
      <h1 class='blogtitle'><%= link_to(this_blog.blog_name, this_blog.base_url) %></h1>
    <% end %>
      <p><%= this_blog.blog_subtitle %></p>
    </div>
    <div id='page'>
      <div id='content'>
        <%= yield %>
      </div>
      <div id='sidebar'>
        <%= render_sidebars_with_div %>
      </div>
      <br class='clear' />
      <div id='legal'>
        <ul>
          <%= content_tag(:li, link_to(_('Home'), this_blog.base_url, {:class => render_active_home}))%>
          <%= content_tag(:li, link_to(_('Articles'), {:controller => 'categories'}, {:class => render_active_articles}))%>
          <%= show_pages_links %>
        </ul>
      </div>
    </div>

  <!-- Absolutely positionned -->
  <ul id='menu'>
    <%= content_tag(:li, link_to(_('Home'), this_blog.base_url, {:class => render_active_home}))%>
    <%= content_tag(:li, link_to(_('Articles'), {:controller => 'categories'}, {:class => render_active_articles}))%>
    <%= show_pages_links %>
  </ul>
  <div id="breadcrumb" class='float_top'>
    <%= render_breadcrumb %>
  </div>
</body>
</html>
